html {
	--theme-color-: black;
	--theme-color-secondary-: white;
}

html, body {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	user-select: none;
}

#toolbar {
	background-color: var(--theme-color-);
	padding: 10px;
	overflow-x: scroll;
	white-space: nowrap;
}

#toolbar > div {
	color: var(--theme-color-secondary-);
	padding: 10px;
	width: fit-content;
	display: inline-block;
	border: solid 2px var(--theme-color-secondary-);
	border-top: none;
	border-bottom: none;
	border-left: none;
	cursor: pointer;
}

#container {
	width: 50vw;
	height: 100vh;
	position: absolute;
	left: 0;
	
}

#result {
	width: 50vw;
	height: 100vh;
	position: absolute;
	right: 0px;
	z-index: 999;
	border: none;
}

#console {
	width: 50vw;
	height: 40px;
	position: absolute;
	right: 0px;
	z-index: 999;
	border: none;
	background-color: rgb(10, 50, 100);
	bottom: 0px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

#customizeButtonOptions {
	position: absolute;
	top: 50px;
	z-index: 99999;
	padding: 20px;
	background-color: var(--theme-color-);
	cursor: auto;
}

#customizeDebugOptions {
	position: absolute;
	top: 50px;
	z-index: 99999;
	padding: 20px;
	background-color: var(--theme-color-);
	cursor: auto;
}

#customizeDebugOptions > #sandbox > button {
	color: var(--theme-color-secondary-);
	background-color: var(--theme-color-);
	border: solid 1px var(--theme-color-secondary-);
	padding: 5px;
	border-radius: 10px;
	outline: none !important;
}

#themePicker {
	background-color: grey;
	text-align: center;
	padding: 3px;
}
